* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

body,html {
    padding: 30px;
    margin: 30px;

    display: grid;

    background-color: #051622;
}

.wrapper {
    background-color: #1BA098;

    width: 700px;
    height: 550px;

    border-radius: 5px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    position: absolute;
}

.username-background {
    background-color: #051622;

    width: 650px;
    height: 60px;

    left: 50%;
    top: 10%;

    border-radius: 5px;

    transform: translate(-50%, 0);

    position: absolute;
}

.style {
    background-color: #051622;

    top: 0%;
    left: 0%;

    font-size: 20px;

    border: none;

    border-radius: 5px;

    color: white;

    opacity: 100%;

    width: 650px;
    height: 60px;

    position: absolute;
}

.password-background {
    background-color: #051622;

    width: 650px;
    height: 60px;

    border-radius: 5px;

    top: 29%;
    left: 50%;

    transform: translate(-50%, 0);

    position: absolute;
}

.style2 {
    background-color: #051622;

    top: 0%;
    left: 0%;

    font-size: 20px;

    border: none;

    border-radius: 5px;

    color: white;

    opacity: 100%;

    width: 650px;
    height: 60px;

  position: absolute;
}

.login-button {
    transition: 0.1s ease-in-out;

    background-color: #051622;
    color: white;

    width: 130px;
    height: 60px;

    top: 47%;
    left: 50%;

    font-family: sans-serif;
    font-size: 20px;

    border: none;

    border-radius: 5px;

    transform: translate(-50%, 0);

    position: absolute;
}

.login-button:hover {
    color: red;
}
.login-button:active {
    color: green;
}

.or {
    font-family: sans-serif;
    font-size: 15px;

    color: white;


    left: 50%;
    top: 67%;

    transform: translate(-50%, 0%);

    position: absolute;
}

.Facebook {
    width: 90px;
    height: 90px;
}

.Twitter {
    width: 90px;
    height: 90px;
}

.Gmail {
    width: 90px;
    height: 90px;
}

.dont-have-an-account {
    font-size: 13px;

    color: white;

    left: 3.5%;
    top: 40%;

    position: absolute;
}

.link {
    text-decoration: none;
    color: white;

    transition: 0.1s ease-in-out;
}

.link:hover {
    color: #051622;
}
