$desktop:1200px; // col-xl
$laptop:1024px;  // col-lg
$tablet:768px;   // md
%phone:480px;    // sm



body {
    padding: 30px;
    margin: 30px;


    background-color: #051622;

}

.background-login {
    background-color: #1BA098;

    width: 600px;
    height: 400px;

    top: 20%;
    left: 27%;

    border-radius: 5px;

    position: absolute;
}

.username-background {
    background-color: #051622;

    width: 525px;
    height: 40px;

    top: 27%;
    left: 30%;

    border-radius: 5px;

    position: absolute;
}

.password-background {
    background-color: #051622;

    width: 525px;
    height: 40px;

    top: 37%;
    left: 30%;

    border-radius: 5px;

    position: absolute;
}

.warning {
    color: white;

    font-size: 10px;
    font-family: sans-serif;

    top: 43%;
    left: 30%;

    position: absolute;
}

#login {
    background-color: #051622;
    color: white;

    border: none;
    border-radius: 5px;

    top: 49%;
    left: 43%;

    width: 130px;
    height: 40px;

    font-size: 25px;
    font-family: sans-serif;

    position: absolute;
}

.or {
    color: white;

    font-size: 15px;
    font-family: sans-serif;

    top: 59%;
    left: 47%;

    position: absolute;
}

.facebook {
    top: 67%;
    left: 35%;

    width: 70px;
    height: 70px;


    position: absolute;
}

.gmail {
    top: 67%;
    left: 45.5%;


    width: 70px;
    height: 70px;

    position: absolute;
}

.twitter {
    top: 67%;
    left: 56.2%;

    width: 70px;
    height: 70px;

    position: absolute;
}
.link {
    border: none;

}











